<div class="images">
  <ng-container>
    <div class="image">
      <div class="image-thumb-container">
        <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1629113376/uyc-under-18.jpg" alt="thumbnail"
          class="image-thumbnail" />
        <!-- <p *ngIf="!ourimage.background_image">No Image</p> -->
      </div>
      <div class="image-description">
        <p class="image-name">Our image</p>
      </div>
    </div>
    <div class="image">
      <div class="image-thumb-container">
        <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1629113376/uyc-under-18.jpg" alt="thumbnail"
          class="image-thumbnail" />
        <!-- <p *ngIf="!ourimage.background_image">No Image</p> -->
      </div>
      <div class="image-description">
        <p class="image-name">Our image</p>
      </div>
    </div>
    <div class="image">
      <div class="image-thumb-container">
        <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1629113376/uyc-under-18.jpg" alt="thumbnail"
          class="image-thumbnail" />
        <!-- <p *ngIf="!ourimage.background_image">No Image</p> -->
      </div>
      <div class="image-description">
        <p class="image-name">Our image</p>
      </div>
    </div>
    <div class="image">
      <div class="image-thumb-container">
        <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1629113376/uyc-under-18.jpg" alt="thumbnail"
          class="image-thumbnail" />
        <!-- <p *ngIf="!ourimage.background_image">No Image</p> -->
      </div>
      <div class="image-description">
        <p class="image-name">Our image</p>
      </div>
    </div>
    <div class="image">
      <div class="image-thumb-container">
        <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1629113376/uyc-under-18.jpg" alt="thumbnail"
          class="image-thumbnail" />
        <!-- <p *ngIf="!ourimage.background_image">No Image</p> -->
      </div>
      <div class="image-description">
        <p class="image-name">Our image</p>
      </div>
    </div>
    <div class="image">
      <div class="image-thumb-container">
        <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1629113376/uyc-under-18.jpg" alt="thumbnail"
          class="image-thumbnail" />
        <!-- <p *ngIf="!ourimage.background_image">No Image</p> -->
      </div>
      <div class="image-description">
        <p class="image-name">Our image</p>
      </div>
    </div>
    <div class="image">
      <div class="image-thumb-container">
        <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1629113376/uyc-under-18.jpg" alt="thumbnail"
          class="image-thumbnail" />
        <!-- <p *ngIf="!ourimage.background_image">No Image</p> -->
      </div>
      <div class="image-description">
        <p class="image-name">Our image</p>
      </div>
    </div>
    <div class="image">
      <div class="image-thumb-container">
        <img src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1629113376/uyc-under-18.jpg" alt="thumbnail"
          class="image-thumbnail" />
        <!-- <p *ngIf="!ourimage.background_image">No Image</p> -->
      </div>
      <div class="image-description">
        <p class="image-name">Our image</p>
      </div>
    </div>
  </ng-container>
</div>
